* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  background: url(./assets/tela.png) no-repeat left/cover;
}
form {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100%;
}

/*header*/
.logo {
  grid-area: 1/1/2/4;
  padding: 24px 300px;
}

/*announcement*/
.announcement {
  grid-area: 1/1/2/3;
  padding-left: 300px;
  padding-top: 150px;
}
.announcement span {
  color: hsl(199, 85%, 81%);
  font-weight: 300;
}
.announcement h1 {
  font-size: 80px;
  padding-bottom: 20px;
  color: hsl(0, 6%, 24%);
  font-weight: 400;
}
.announcement p {
  font-weight: 600;
  color: hsl(199, 78%, 65%);
  margin-bottom: 20px;
  text-align: justify;
  width: 400px;
  min-width: 300px;
}

/*input*/
.user {
  width: 380px;
  position: relative;
  padding: 20px 0;
}

.user input {
  width: 320px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid hsla(0, 4%, 54%, 0.2);
  padding: 0 15px;
}
input:focus {
  outline: none;
  border: 2px solid hsl(212, 93%, 68%);
}
/*valide*/
.resp-erro {
  margin-left: 20px;
  font-size: 13px;
  color: hsl(199, 78%, 65%);
  border: 1px blue;
}
/*button*/
.user button {
  width: 80px;
  height: 43px;
  border-radius: 20px;
  background: linear-gradient(135deg, hsl(202, 100%, 87%), hsl(214, 56%, 50%));
  border: 1px;

  position: absolute;
  right: 6%;

  box-shadow: 3px 10px 16px 1px hsl(202, 37%, 64%);
  transition: box-shadow 0.2s;
  transition: transform 0.1s;
}
.user button:hover {
  box-shadow: 3px 10px 16px 1px hsl(202, 36%, 54%);
  background: hsl(202, 88%, 83%);
  transform: scale(1.1);
}

/*image*/
.img {
  grid-area: 1/3/2/4;
}

/*footer*/
footer {
  grid-column: 1/4;
  text-align: center;
  padding: 24px;
  font-size: 13px;
  color: hsl(0, 6%, 24%);
}

footer > a {
  text-decoration: none;
  color: hsl(0, 0%, 54%);
}

footer > a:hover {
  color: hsl(199, 100%, 48%);
}

/*media queries*/
@media (max-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .logo,
  .announcement {
    padding-left: 10px;
  }
  .announcement h1,
  .announcement p {
    text-align: center;
    width: 100%;
  }
  .announcement h1 {
    font-size: 60px;
  }
  .user {
    padding: 0 10px;
    margin: 0 auto;
  }
  .user button {
    width: 60px;
    right: 17%;
  }
  .user input {
    width: 280px;
  }
  .logo {
    order: 1;
    width: 100px;
  }
  .img {
    order: 2;
  }

  .announcement {
    order: 3;
    padding-top: 70px;
  }
  footer {
    order: 4;
  }
  .resp-erro {
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .img {
    width: 410px;
  }
  .user button {
    right: 10%;
  }
  .user input {
    margin: 0 24px;
  }
  .resp-erro {
    margin-left: 0;
  }
}
